/*@import url("osans.css");*/

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    font-family: 'Open Sans';
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#language-select {
    line-height: 40px;
}
#language-select a {
    padding-left: 8px;
}

.logo150{
    max-width: 150px;
    height: auto;
}

.remove-btn{
    cursor: pointer;
}

.title {
    background-color: #24aa98;
    color: #fff;
    font-size: 25px;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.table {
    color: #5a5858;
}
.table thead tr{
    background: #d9c26c;
    color: #fff;
}
.table tr td:first-child, .table tr th:first-child{
    border-left: 1px solid #ddd;;
    border-right: 1px solid #ddd;;
}
.table tr td:last-child, .table tr th:last-child{
    border-right: 1px solid #ddd;;
}
.table tr:last-child td{
    border-bottom: 1px solid #ddd;;
}
.triangl {
    color: #000;
    font-size: 8px;
    background: #e7e7e7;
    padding: 4px 5px;
}
.hint-container {
    display: inline-block;
    position: relative;
}
.hint-container .hint-content {
    position: absolute;
    left: -20px; top: 140%;
    min-width: 240px;
    z-index: 1;
    background: #edebeb;
    color: #666666;
    padding: 8px 12px;
    border: 4px solid #fff;
    font-size: 16px;
    text-align: center;
    -webkit-box-shadow: 4px 9px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    4px 9px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         4px 9px 5px 0px rgba(50, 50, 50, 0.35);
    display: none;
}
#hint-search {
    width: 930px;
    background: #353636;
    left: 20px; top: 100%;
    color: #fff;
}
.hint-container:hover .hint-content {
    display: block;
}
.list-view {
    position: relative;
    text-align: center;
}
.modal-dialog button.close {
    background-image: url('../images/popup_close.png');
    width: 44px;
    height: 38px;
    opacity: 1;
    color: #fff;
    padding-right: 5px;
    padding-bottom: 5px;
}
.form {
    padding-left: 15px;
    font-size: 20px;
}
.form label {
    font-size: 20px;
    font-weight: normal;
}
.form .form-control {
    font-size: 18px;
    height: 40px;
}
.form .buttons {
    margin: 20px 0;
}
.fieldset {
    background-color: #d9c26c;
    padding: 3px 8px;
    width: 370px;
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
}
.fieldset-column {
    width: 550px;
}
.btn-action {
    background-color: #24aa98;
    color: #fff;
    font-size: 20px;
}
.btn-yellow {
    background-color: #d9c26c;
    color: #fff;
    font-size: 20px;
}
.title .btn-yellow {
    text-transform: none;
    font-size: 20px;
    margin-top: -8px;
}
.btn-action:hover, .btn-yellow:hover {
    color: #ededed;
}
.btn-grey {
    background: rgb(248,248,248); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    color: #050505;
    font-size: 13px;
    padding: 6px 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #949494;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,1);
}
.chosen-container-single .chosen-single {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    background: url("../images/drop_down_arrow.png") no-repeat right top;
}
.chosen-container .chosen-results li {
    line-height: 26px;
}
.chosen-container .chosen-results li:hover {
    background-color: #d9c26c;
}
.dropdown-ajax {
    display: none;
}
.dropdown-ajax-search {
    cursor: pointer;
    background: url("../images/drop_down_arrow.png") no-repeat right top;
}
.dropdown-ajax-result {
    position: absolute;
    display: none;
    z-index: 98;
    background-color: #fbfbfb;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
    max-height: 300px;
    width: calc(100% - 30px);
    margin-top: 20px;
}
.dropdown-ajax-result ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown-ajax-result ul li{
    cursor: pointer;
    line-height: 40px;
    padding: 5px 10px;
}
.dropdown-ajax-result ul li:hover {
    background-color: #d9c26c;
}
.dropdown-ajax-result + .triangl {
    background: url("../images/drop_down_triangl.png") no-repeat;
    position: absolute;
    top: 48px;
    right: 36px;
    z-index: 99;
    width: 19px;
    height: 13px;
    display: none;
}
.field-invoice-company_id .dropdown-ajax-result ul li{
    background: url("../images/drop_down_user_noselect.png") no-repeat top right;
}
.field-invoice-company_id .dropdown-ajax-result ul li:hover{
    background: url("../images/drop_down_user.png") no-repeat top right #d9c26c;
}
.invoice-service-items td {
    text-align: center;
    padding: 0 5px;
}
.invoice-service-items .separator {
    padding-top: 20px;
}

.invoice-service-items .qty {
    width: 200px;
}
.invoice-service-items .unit-cost, .invoice-service-items .discount, .invoice-service-items .total {
    width: 280px;
}
.invoice-tax {
    width: 340px;
    float: right;
}
.invoice-tax .table td{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}
.invoice-tax .table td .form-group {
    margin: 0;
}
.invoice-index label{
    font-weight: normal;
}
.form-search {
    margin: 20px 0 4px ;
}
#modal-invoice .modal-content, #modal-credits .modal-content{
    padding: 10px;
}
#modal-invoice .modal-header, #modal-credits .modal-header {
    background-color: #ece9e9;
}
#modal-invoice .modal-body, #modal-credits .modal-body {
    background-color: #ece9e9;
}
#modal-credits .modal-dialog{
/*    bottom: 10px;*/
    top: 400px;
}
.text-green {
    color: #24aa98;
    font-size: 25px;
}
#user_credits {
    float: right;
    padding-top: 6px;
    padding-right: 14px;
}
.pagination {
    background: #d8d8d8;
    padding: 4px;
    font-family: 'Verdana';
    font-size: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 2px 10px 3px -6px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 2px 10px 3px -6px rgba(0,0,0,0.25);
    box-shadow: inset 2px 10px 3px -6px rgba(0,0,0,0.25);
}
.pagination > li > a, .pagination > li > span {
    border-radius: 5px;
    background: #d3d3d3;
    margin: 0 4px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.52);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.52);
    color: #666666;
    padding: 4px 8px;
}
.nowrap {
    white-space: nowrap;
}
.fieldset-full-grey {
    width: 100%;
    background: #f7f7f7;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
}
.form-horizontal .fieldset-full-grey .control-label {
    text-align: left;
}
.label-left .form-horizontal .control-label {
    text-align: left;
}
.invoice-tax .table-align-left td{
   text-align: left;
    padding-left: 15px;
}